[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Cellsimulator
Exec=/opt/Cellsimulator/bin/Cellsimulator
Icon=Cellsimulator
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
